<div
  ngpTabset
  [(ngpTabsetValue)]="selectedTab"
  [ngpTabsetOrientation]="orientation()"
  [ngpTabsetActivateOnFocus]="selectionMode() === 'follow'"
  [class]="containerClass()"
>
  <div ngpTabList [class]="tabListClass()">
    @for (tab of tabs(); track tab.id) {
      <button
        ngpTabButton
        type="button"
        [ngpTabButtonValue]="tab.id"
        [ngpTabButtonDisabled]="tab.disabled ?? false"
        [class]="cn(tabClass(), tab.headingClass)"
      >
        {{ tab.heading }}
      </button>
    }
  </div>

  @for (tab of tabs(); track tab.id) {
    <div ngpTabPanel [ngpTabPanelValue]="tab.id" [class]="cn(panelClass(), tab.contentClass)">
      @if (asComponent(tab.content); as comp) {
        <ng-container *ngComponentOutlet="comp; inputs: tab.contentInputs" />
      } @else {
        <div [innerHTML]="asHtml(tab.content)"></div>
      }
    </div>
  }
</div>
