<div ngTabs [class]="containerClass()">
  <div
    ngTabList
    [orientation]="orientation()"
    [selectionMode]="selectionMode()"
    [(selectedTab)]="selectedTab"
    [class]="tabListClass()"
  >
    @for (tab of tabs(); track tab.id) {
      <button
        ngTab
        type="button"
        [value]="tab.id"
        [disabled]="tab.disabled ?? false"
        [class]="cn(tabClass(), tab.headingClass)"
      >
        {{ tab.heading }}
      </button>
    }
  </div>

  @for (tab of tabs(); track tab.id) {
    <div ngTabPanel [value]="tab.id" [class]="cn(panelClass(), tab.contentClass)">
      <ng-template ngTabContent>
        @if (asComponent(tab.content); as comp) {
          <ng-container *ngComponentOutlet="comp; inputs: tab.contentInputs" />
        } @else {
          <div [innerHTML]="asHtml(tab.content)"></div>
        }
      </ng-template>
    </div>
  }
</div>
