@if (isMounted()) {
  <div
    #container
    class="rfm-marquee-container overflow-hidden flex relative"
    [style]="containerStyles()"
  >
    <!-- Gradient Overlay -->
    @if (gradient()) {
      <div class="rfm-overlay absolute w-full h-full" [style]="gradientStyles()"></div>
    }

    <!-- First Marquee -->
    <div
      class="rfm-marquee flex-none z-[1] flex items-center"
      [style]="marqueeStyles()"
      (animationiteration)="onAnimationIteration()"
      (animationend)="onAnimationEnd()"
    >
      <div #marquee class="rfm-initial-child-container flex-none flex min-w-auto items-center">
        @for (item of childrenArray(); track $index) {
          <div class="rfm-child" [style]="childStyles()">
            <ng-container *ngTemplateOutlet="itemTemplate() || null"></ng-container>
          </div>
        }
      </div>

      @for (i of multipliedArray(); track $index) {
        <div class="rfm-child" [style]="childStyles()">
          <ng-container *ngTemplateOutlet="itemTemplate() || null"></ng-container>
        </div>
      }
    </div>

    <!-- Second Marquee -->
    <div class="rfm-marquee flex-none z-[1] flex items-center" [style]="marqueeStyles()">
      @for (i of childrenArray(); track $index) {
        <div class="rfm-child" [style]="childStyles()">
          <ng-container *ngTemplateOutlet="itemTemplate() || null"></ng-container>
        </div>
      }
    </div>
  </div>
}
