@for (asset of assets(); track asset.id) {
  <div
    class="floating-asset absolute"
    [class]="asset.animationName ?? ''"
    [style.left.%]="asset.position.x"
    [style.top.%]="asset.position.y"
    [style.z-index]="asset.position.z"
    [style.width.%]="asset.position.width ?? 100"
    [style.animation-delay.ms]="$index * 250"
  >
    @switch (asset.mediaType) {
      @case ('image') {
        <img
          [ngSrc]="asUrl(asset.media)"
          [alt]="asset.name"
          class="w-full h-full"
          draggable="false"
          width="200"
          height="200"
        />
      }
      @case ('video') {
        <video
          [src]="asUrl(asset.media)"
          autoplay
          muted
          loop
          playsinline
          class="w-full h-full"
        ></video>
      }
      @case ('component') {
        <ng-container [ngComponentOutlet]="asComponent(asset.media)" />
      }
    }
  </div>
}
