<div
  class="w-full group/card masterclass-item gap-8 flex justify-between flex-col text-background overlay bg-center bg-no-repeat bg-cover overflow-hidden relative"
>
  <div class="flex justify-end h-full relative">
    <div
      class="flex items-end justify-start text-[16rem] leading-[280px] font-medium [-webkit-text-fill-color:transparent]! [-webkit-text-stroke:10px_#ffffff47]! tracking-tighter self-end m-0 absolute bottom-[-22px] left-0 w-2/5 h-full"
    >
      {{ index() + 1 }}
    </div>
    <div
      data-comingSoon
      class="masterclassCard max-w-[280px] group aspect-9/16 relative flex flex-col h-full w-[70%] p-4 justify-end z-20 rounded-xl bg-cover overflow-hidden bg-top"
      [style.background-image]="'url(' + card().thumbnail + ')'"
    >
      <div class="flex-col gap-2 items-center hidden duration-300 z-20">
        <div
          class="absolute top-3 left-3 w-auto h-8 bg-background rounded-lg flex justify-center items-center px-2 text-xs"
        >
          {{ 2 }}&nbsp; CPE
          {{ 2 > 1 ? 'Credits' : 'Credit' }}
        </div>
        <app-categories-list
          class="text-white text-sm font-medium w-full"
          align="center"
          [items]="card().fields_of_study ?? []"
        />

        <hr class="bg-white w-10" />

        <p class="text-white text-[16px] md:text-center text-center font-bold line-clamp-2">
          {{ card().title }}
        </p>
        <p class="text-white text-sm line-clamp-1 font-semibold md:text-center text-left">
          By {{ card().instructor_details.first_name }}
          {{ card().instructor_details.last_name }}
        </p>
      </div>
      <div
        class="flex-col w-full items-center opacity-0 group-hover/card:opacity-100 flex transition-opacity duration-300 ease-in-out gap-2 z-20"
      >
        <div class="flex items-center justify-center gap-2 w-full">
          @if (card().trailer_link) {
            <app-button
              class="bg-white text-black rounded-md hover:bg-white hover:text-black gap-2"
              (clicked)="openVideoDialog()"
            >
              <ng-icon [svg]="icons().faSolidPlay" class="size-4" />
              Trailer
            </app-button>
          }
          @let reminded = !!card().added_bookmark;
          <app-button
            variant="ghost"
            class="rounded-md gap-2 bg-white text-black"
            [disabled]="reminded"
            (clicked)="remindMe()"
          >
            <ng-icon
              [svg]="reminded ? icons().matBookmarkRound : icons().faSolidBell"
              class="size-4"
            />
            {{ reminded ? 'Reminded' : 'Remind Me' }}
          </app-button>
        </div>
      </div>
    </div>
  </div>
</div>
