@reference '../../../../styles/styles.css';

.content {
  @apply sm:w-3/4 w-10/12 mx-auto absolute bottom-0 sm:left-12 left-6 z-2 
      text-white text-sm font-normal
      opacity-0 hidden;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  font-family: Helvetica, sans-serif;
}

.content--visible {
  @apply flex flex-col sm:w-3/4 w-10/12 mx-auto absolute bottom-0 sm:left-12 left-6 z-2 sm:gap-2 gap-1;
  animation: slideIn 0.75s ease-in-out 0.3s forwards;
}

.title {
  @apply md:text-2xl text-xl tracking-tight uppercase font-bold;
}

.subtitle {
  @apply md:text-xl text-lg tracking-widest font-semibold text-accent;
}

.description {
  @apply md:text-base text-sm text-neutral-400;
}

/* Navigation */
.nav {
  @apply absolute bottom-8 sm:left-1/2 left-6 sm:-translate-x-1/2 z-10 flex gap-2 select-none;
}
