<!-- RatingStar Component -->
<div
  ngpRating
  [class]="containerClass()"
  [attr.aria-label]="ariaLabel()"
  [ngpRatingValue]="value()"
  [ngpRatingCount]="max()"
  [ngpRatingReadonly]="isReadonly()"
  (ngpRatingValueChange)="valueChange.emit($event)"
>
  <span class="flex justify-center items-center" [class]="starClass()" *ngpRatingItem="let star">
    <span class="relative inline-block">
      <!-- Base: Outline Star -->
      <ng-icon name="heroStar" [size]="size()" class="text-gray-400 block"></ng-icon>

      <!-- Overlay: Solid Star, clipped to this item's fill fraction -->
      <span
        class="absolute top-0 left-0 h-full overflow-hidden text-yellow-400"
        [style.width.%]="star.fraction * 100"
      >
        <ng-icon name="heroStarSolid" [size]="size()" class="block"></ng-icon>
      </span>
    </span>
  </span>
</div>
